*{
   margin:0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: Helvetica, Arial, Serif;
}

/**------------- Navbar -------------**/
.navbar{
   height: 100px;
   width: 100vw;
   border-bottom: 1px solid gray;
   display: flex;
   align-items: center;
}

.nav-logo{
   height:90px;
   width: 90px;
   background-image: url("insta-logo.png");
   background-size: cover;
}

.navbar p{
   font-size: 2.3rem;
   font-weight: 900;
   padding: 10px;
   margin-left: 20px;
   font-family: cursive;
}

.icon-one{
   font-size: 2.3rem;
   font-weight: 900;
   padding: px;
   margin-left: 490px; 
}

.icon-two{
   font-size: 2rem;
   padding: 5px;
   margin-left: 80px;
}

.icon-two i{
   color: black;
}

/**------------ Navbar-Panel -------------**/
.panel{
   height:170px;
   width: 100vw;
   
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.box{
   height:150px;
   width: 150px;
   padding: 5px;
   
   border :3px solid transparent;
   background: linear-gradient( rgb(231,0,231),rgb(255,115,0));
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
 
}

.box img{
   height: 140px;
   width:140px;
   border-radius:50%;
   background-size: cover;
}


.panel-name{
   display: flex;
   margin-left: 70px;
   padding: 5px;
}

.name1{
   background-image: url("");
}

.name2{
   margin-left: 120px;
}

.name3{
   margin-left: 100px;
}

.name4{
   margin-left: 115px;
}

.name5{
   margin-left: 120px;
}

header{
   border-bottom: 1px solid grey;
}

/**------------ Section Panel ------------**/


.one{
   margin-top:10px;
   scroll-margin-bottom: 60px;
   height: 80%;
   margin-bottom: 1px solid grey;
   position: relati;
}

.one span{
   font-size: 1.4rem;
   font-weight: 470;
}

.follow{
   height: 100px;
   
   display: flex;
   align-items: center;
   z-index: 10;
}

.profile{
   height: 80px;
   width: 80px;
   margin-left: 5px;
   border-radius: 50%;
   border: px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
}

.profile img{
   height: 80px;
   width: 80px;
   border-radius: 50%;
}

.headding p{
   margin-left: 30px;
   font-size: 1rem;
}

.head1{
   font-size: 3rem;
   padding: 10px;
   font-weight: 900;
}

.follow-me{
   height: 55px;
   width: 130px;
   border:2px solid black;
   border-radius: 10px;
   font-size: 1.3rem;
   font-weight: 900;
   display: flex;
   align-items: center;
   justify-content: center;
   
   margin-left: 480px;
   
}

.follow i{
   font-size: 40px;
   
   margin-left: 40px;
}


.one img {
   height:808;
   width:100vw;
   margin-top: 0px;
   z-index: -1;
}

.video{
   height:808;
   width:100vw;
   margin-top: 0px;
}

.icons{
   font-size: 2.4rem;
   margin-left: 30px;
   margin-top: 10px;
}

.ic{
   margin-left: 700px;
}

.paragraph{
   margin-left: 30px;
   margin-top: 10px;
   margin-bottom: 90px;
   font-size: 1.5rem;
}

.miss{
   font-weight: 900;
}

.small{
   height: 60px;
   width: 60px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.red:hover{
   
   color: red;
}

/**----------- Footer Panel --------------**/

.footer{

   height:80px;
   width: 100vw;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: space-around;
   position:fixed;
   bottom:0;
   left:0;
   right: 0;
   margin-top: -41""50px;
   
}

.small img{
   height: 60px;
   width: 560px;
   background-size: cover;
   border-radius: 50%;
}

.footer i{
   font-size: 40px;
   margin-left: 35px;
}
