*{
   color: white;
   margin: 0px;
}

.navbar{
   height: 120px;
   width: 100%;
   background-color: #0f1111;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.nav-logo {
   height: 90px;
   width: 200px;
   background-image: url("amazon_logo.png");
   background-size: cover;
}

.cart i {
   height: 30px;
   width: 50px;
   color: white;
   margin: 0px;
   font-size: 40px;
   padding: 10px;
}

.cart {
   font-weight: 900;
   font-size: 30px;
   padding:10px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.border{
   border: 2px solid transparent;
   border-radius: 10px;
}

.border:hover{
   border: 2px solid whitesmoke;
}

/**----------- Navbar Panel -------------**/

.panel{
   height: 4.1rem;
   background-color: #222f3d;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.panel p{
   color: white;
}

.panel-all{
   font-size: 1rem;
   font-weight:500;
   padding: 8px;
}

.panel-opt p{
   font-size: 0.85rem;
   display: inline;
   margin-left: 15px;
}

.panel-deal{
   font-size: 1rem;
   font-weight:700;
   padding: 8px;
}

/**---------- Hero Section ------------**/

.img {
   height: 400px;
   background-image: url("hero_image.jpg");
   background-size: cover;
   display: flex;
   align-items: flex-end;
   justify-content: center;
}

.img-pan{
   height: 80px;
   width: 90%;
   background-color: whitesmoke;
   display: flex;
   align-items: center; justify-content: center;
   margin-bottom: 40px;
   border-radius: 10px;
}

.img-pan p{
   color: black;
}

.img-pan a{
   font-weight: 900;
   color: #007185;
}

/**---------- Shopping Section ----------**/

.shop-sec{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   background-color: #a5b9bf;
   height: 3000px;
}

.box {
   height: 300px;
   width: 23%;
   background-color: ghostwhite;
   margin-top: 15px;
   margin-bottom:0px;
   border-radius: 10px;
}

.box h3,p{
   color: black;
   margin-left: 10px;
   margin-top:8px;
}

.box p{
   color: #007185;
   font-size: 1rem;
   font-weight: 900;
}

.box-img{
   height: 220px;
   width: 85%;
   margin-top: 10px;
   margin-left: 15px;
   background-size: cover;
}

.hed {
   font-size:0.7rem;
}

.he {
   margin-left: 10px;
   margin-top: 20px;
   height: 190px;
   width: 90%;
}

.hi p{
   margin-top: 20px;
}

h3{
   color: black;
   font-size: 0.85rem;
   font-weight: 900;
   margin-top: px;
}

.scrole-pan{
   height: 400px;
   width: 97%;
   margin-top: 5px;
   background-color: whitesmoke;
   border-radius: 10px;
   display: flex;
}

.scrole-pan p{
   text-size:0.85rem;
   margin-left: 10px;
   color: black;
   font-weight: 900;
}

.scrole-pan a{
   text-decoration: none;
   color: #007185;
}

.scrole-img {
   height: 250px;
   width: 100%;
   margin-top: 120px;
   margin-left: -80px;
   background-size: cover;
}

.sec-pan {
   margin-top: 05px;
   height: 350px;
   width: 97%;
   color: black;
   font-size: 1.2rem;
   font-weight: 900;
   background-color: whitesmoke;
   margin-left: 0px;
   display: flex;
   align-items: flex-start;
   justify-content: flex-end;
   border-radius: 10px;
}

.sec-pan a {
   color: #007185;
   text-decoration: none;
   margin-left: 10px;
   margin-top: -100px;
}

.fur-img {
   height: 200px;
   width: 80%;
   margin-top: 125px;
   margin-right: 90px;
   background-size: cover;
}

.img-tiger{
   height: 580px;
   width: 97%;
   background-image: url("prime-img.jpg");
   background-size: cover;
   margin-top: 10px;
   border-radius: 10px;
}

.img-tiger1 {
   height: 580px;
   width: 97%;
   background-image: url("prime-img.jpg");
   background-size: cover;
   margin-top: 10px;
   border-radius: 10px;
}

.img-tiger a,.img-tiger1 a{
   color: white;
   font-size: 40px;
   font-weight: 900;
   margin-left: 15px;
   text-decoration: none;
}

/**------------- Foot Panel --------------**/

.foot-pan1 {
   height: 80px;
   background-color: #37475a;
   font-size: 1rem;
   font-weight: 900;
   display: flex;
   justify-content: center;
   align-items:center;
}

.foot-pan1 a{
   text-decoration: none;
}

.foot-pan2{
   height: 400px;
   background-color: #222f3d;
   display: flex;
   justify-content: space-evenly;
}

ul a{
   display: block;
   color: #dddddd;
   text-size:0.85rem;
   margin-top: 5px;
}

.r1{
   font-weight: 200;
   font-size: 0.85rem;
   margin-top: 30px;
}

.c1{
   font-size: 1.1rem;
   color: white;
   font-weight: 900;
}

.c2 {
   font-size: 1.1rem;
   color: white;
   font-weight: 900;
}

.c3 {
   font-size: 1.1rem;
   color: white;
   font-weight: 900;
}

.c4 {
   font-size: 1.1rem;
   color: white;
   font-weight: 900;
}

.foot-pan3 {
   height: 100px;
   background-color: #222f3d;
   border-top: 1.5px solid whitesmoke;
   display: flex;
   align-content: center;
   justify-content: center;
}

.logo {
   height: 80px;
   width: 200px;
   background-image: url("amazon_logo.png");
   background-size: cover;
}

.foot-pan4{
   height: 80px;
   background-color: #0f1111;
   display: flex;
   align-items: center;
   justify-content:center;
}

.pages {
   font-size: 0.85rem;
}

.foot-pan4 a{
   margin-left: 15px;
   text-decoration: none;
}

.foot-pan4 p {
   color: white;
   margin-left: 40px;
}